<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangandyuk.ttye.repository.BgmDAO">

<insert id="insert">
	insert into tbl_bgm(id, video_id, video_title) 
	values(#{id}, #{video_id}, #{video_title})
</insert>

<select id="selectList" resultType="com.kangandyuk.ttye.domain.BgmVO">
	select * from tbl_bgm where id = #{id}
</select>

// selectListwithPaging
<select id="selectListwithPaging" resultType="com.kangandyuk.ttye.domain.BgmVO">
	select * from tbl_bgm where id = #{id} order by video_id desc limit #{startPage}, #{endPage}
</select>

</mapper>