<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangandyuk.ttye.repository.DiaryDAO">

	<insert id="insertDiary">
		insert into tbl_diary(diary_title, content, diary_date, id) values(#{diary_title}, #{content}, #{diary_date}, #{id})
	</insert>

	<select id="selectList" resultType="com.kangandyuk.ttye.domain.DiaryVO">
		select * from tbl_diary
		where substring_index(substring_index('diary_date', '-', -2), '-', 1) = LPAD(#{month}, 2, '0')
	</select>
</mapper>